@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .animate-bounce {
    animation: bounce 1s infinite;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto  
      bg-gray-200 hover:bg-sky-600  
      text-sky-400 hover:text-white
        hover:rounded-xl rounded-3xl
        transition-all duration-300 ease-linear
        cursor-pointer shadow-lg dark:bg-gray-800;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-black bg-white
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left dark:bg-gray-700 dark:text-white;
  }
  .btn-primary {
    @apply flex w-full justify-center rounded-xl bg-sky-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600;
  }

  .login-input {
    @apply block w-full rounded-xl border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6;
  }

  .input-label {
    @apply block text-sm font-medium leading-6 text-gray-900 dark:text-white;
  }

  .bold-text {
    @apply font-semibold leading-6 text-sky-400 hover:text-sky-500;
  }
}
